body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.responsive-padding {
  padding-left: 12%;
  padding-right: 12%;
}

@media (max-width: 1280px) {
  .responsive-padding {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 1000px) {
  .responsive-padding {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 905px) {
  .responsive-padding {
    padding-left: 0%;
    padding-right: 0%;
  }
}
